<div class="container">
  <div class="slides">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://picsum.photos/id/318/1200/800"alt="Eifel Tower">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://picsum.photos/id/91/1200/800" alt="camera">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://picsum.photos/id/43/1200/800" alt="Bridge">
        </div>
      </div>
    </div>
  </div>


<div>
  <h2 class="text-center my-5">All lists</h2>
 <!--  <%= link_to 'Create a new list', lists_path, class:"hidden-form" %> -->

    <div class="cards">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          <h3> <%= link_to list.name, list_path(list.id) %></h3>
        </div>
      <% end %>
    </div>
  </div>

</div>
